.group {
  vertical-align: middle !important;
  text-align: center;
  padding: 0;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
.btn_group {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
.btn_del,
.btn_del:hover {
  background-color: #c41c21;
  color: #fff;
  margin-left: 1rem;
}

/*------ order card ------*/
.card_custumer {
  padding: 1rem;
  background: #212529;
  height: 28rem;
}
.card_custumer label,
.card_custumer h2,
.card_custumer h3 {
  color: #fff;
  text-transform: uppercase;
}
.card_custumer h6 {
  color: #fff;
  text-transform: none;
}
.text_contact {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}
