/* product page */
.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0;
  background-color: #000;
}
.products a {
  text-decoration: none;
  color: #000;
}
.card {
  background-color: #fff;
  margin: 0.25rem;
  padding: 1.5rem;
  text-align: left;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #000;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.img_product {
  text-align: center;
}

.card_title {
  margin-bottom: var(--bs-card-title-spacer-y);
  word-wrap: break-word;
  white-space: normal;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.description {
  display: inline-block;
  word-wrap: break-word;
  white-space: normal;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

/* modal */
.card_modal {
  width: 100%;
  height: auto;
  min-height: 9rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn_div {
  display: flex;
  justify-content: space-evenly;
}
